 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 1327px;
  height: 885px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -469px 94px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 44px 94px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 940px;
    height: 627px;
  }

  .u-section-1 .u-text-1 {
    width: 880px;
    margin-top: -211px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -302px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -182px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 297px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: -197px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 340px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 328px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 25px;
}

.u-section-2 .u-text-2 {
  margin: 20px 25px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1430px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 25px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 25px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 25px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 25px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 50px 25px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 25px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2257px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 10px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 354px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0 25px;
}

.u-section-4 .u-text-2 {
  margin: 20px 25px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 415px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0 25px;
}

.u-section-5 .u-text-2 {
  margin: 20px 25px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 403px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 25px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 30px 25px 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 25px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 30px 25px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 25px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 60px 25px;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 10px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 771px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 70px auto 0 25px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: -40px 0 0 620px;
}

.u-section-8 .u-text-3 {
  margin: 29px 21px 0 620px;
}

.u-section-8 .u-form-1 {
  height: 339px;
  margin: -128px 570px 60px 25px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 420px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 420px;
  }

  .u-section-8 .u-form-1 {
    width: 570px;
    margin-top: 20px;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 434px;
    margin-right: 175px;
    margin-left: 25px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 196px;
    margin-left: 25px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -598px;
    margin-right: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 417px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-form-1 {
    height: 329px;
    width: 315px;
    margin-top: -613px;
    margin-left: auto;
    margin-right: auto;
  }
}